@use '../variables/colors';

.header {
    background-color: colors.$dark-accent;
    
    .navbar-brand {
        color: colors.$primary-color;
    }
    
    .nav-link {
        color: colors.$primary-color;
        
        &:hover {
            color: colors.$primary-color;
        }
    }
}

